div.panel-body {
    padding-top: 0;
}

#title {
    padding: 0;
    margin-bottom: 15;
    
    h2, i {
        margin: 10 0 0 0;
    }
}

#roster-display {
    #card-template {
        border: solid black 5px;
    }
}
