/* line 1, ../Sass/site.scss */
div.panel-body {
  padding-top: 0;
}

/* line 5, ../Sass/site.scss */
#title {
  padding: 0;
  margin-bottom: 15;
}
/* line 9, ../Sass/site.scss */
#title h2, #title i {
  margin: 10 0 0 0;
}

/* line 15, ../Sass/site.scss */
#roster-display #card-template {
  border: solid black 5px;
}
